h2 {
    font-size: 20px;
    text-align: center;
}
.container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: olive;
    padding: 10px;
}